<% provide(:title, 'About Us')%>
<h1>About Us</h1>
<p>
<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
is a book to make book and screencast to teach web development
with <a href="http://railstutorial.org">Ruby on Rails</a>. This is 
the sample application for the tutorial.
</p>
